<!DOCTYPE html>
<html>

	<body>
	 <header>
		 <div class="container">
			 <div id="branding">
			 <h1> <span class="highlight">Sales Monitoring System</span></h1>
       </div>
       <nav>
        <ul>
          <li><a href="">LOGOUT</a></li>
              <li class="current"><a href="http://localhost:4200/adminfirstscreen">ADMIN</a></li>

        </ul>
      </nav>
		 </div>
	 </header>
            <div class="container" style="font-family: cursive;">
                <div  id="lform">
                <form>
                <table border="0" cellspacing="4" cellpadding="1"  style = "padding-left:400px" >
                    <thead>
                        <tr>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                        <tr>
                    <td><input class="design" type="button" name="viewcustomer" value="VIEW  CUSTOMERS" (click)="viewcustomer()"/><br><br></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                          <td><input class="design" type="button" name="addproduct" value="ADD  PRODUCTS" (click)="addproduct()"/><br><br></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                          <td><input class="design" type="button" name="viewproduct" value="VIEW PRODUCTS" (click)="viewproduct()"/><br><br></td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr>
                              <td><input class="design" type="button" name="viewsales" value="VIEW SALES" (click)="viewsales()"/><br><br></td>
                                </tr>
                    </tbody>
                </table>
            </form>
                </div>
                    
            </div>
    </body>
    
</html>
