<!DOCTYPE html>
<html>

	<body>
	 <header>
		 <div class="container">
			 <div id="branding">
			 <h1> <span class="highlight">Sales Monitoring System</span></h1>
             </div>
             <nav>
                <ul>
                  <li><a href="http://localhost:4200/customer">CONTINUE SHOPPING</a></li>
                   <li class="current"><a href="http://localhost:4200/Invoice">INVOICE</a></li>
                   <li><a href="">LOGOUT</a></li>
                </ul>
              </nav>
		 </div>
     </header>
     <div class="container" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold">
            <div  id="lform">
               <div style = "padding-left: 350px"><br>
                <h4 style="padding-left:125px;font-size: 20px;font-family: Arial, Helvetica, sans-serif">INVOICE</h4>
                <table border="0" cellspacing="2" cellpadding="1" width="50%">
                  <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                      <tr>
                  <td id="block1"><label>Product Name</label><br><br></td>
                  <td style="padding-inline-start:10px;" ><input style="border-style: none; background:lightsteelblue" type="text"  name="username" #name /><br><br></td>

                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Quantity</label><br><br></td>
                           <td style="padding-inline-start:10px" ><input style="border-style: none; background:lightsteelblue" type="text"  name="password" #password /><br><br></td>
                           
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <td id="block1"><label>Price</label><br><br></td>
                        <td style="padding-inline-start:10px" ><input style="border-style: none; background:lightsteelblue"  type="text" name="password" #password /><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <td id="block1"><label>Total Bill</label><br><br></td>
                        <td style="padding-inline-start:10px" ><input style="border-style: none; background:lightsteelblue" type="text" name="password" #password /><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Discount Offered</label><br><br></td>
                          <td style="padding-inline-start:10px" ><input style="border-style: none; background:lightsteelblue" type="text"   name="password" #password /><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Final Amount</label><br><br></td>
                          <td style="padding-inline-start:10px" ><input style="border-style: none; background:lightsteelblue"  type="text" name="password" #password /><br><br></td>
                      </tr>
                      <tr></tr>
                     
                  </tbody>
              </table>
                
                </div>
                    
         
