<!DOCTYPE html>
<html>
<script type="text/javascript">
  $window.onload = function() {
    SingleInvoice(pname,qty,price,tot,discount,famt);
  };
  </script>
	<body>
	 <header>
		 <div class="container">
			 <div id="branding">
			 <h1> <span class="highlight">Sales Monitoring System</span></h1>
             </div>
             <nav>
                <ul>
                  <li><a href="http://localhost:4200/customer">CONTINUE SHOPPING</a></li>
                   <li class="current"><a href="http://localhost:4200/Invoice">INVOICE</a></li>
                   <li><a href="">LOGOUT</a></li>
                </ul>
              </nav>
		 </div>
     </header>
     <div class="container" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold">
            <div  id="lform">
               <div style = "padding-left: 350px"><br>
                <h4 style="padding-left:125px;font-size: 20px;font-family: Arial, Helvetica, sans-serif" >INVOICE</h4>
                <table border="0" cellspacing="2" cellpadding="1" width="50%">
                  <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                      <tr>
                  <td id="block1"><label>Product Name</label><br><br></td>
                  <td style="padding-inline-start:10px;" ><span style="color:cornflowerblue">{{pname}} </span><br><br></td>

                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Quantity</label><br><br></td>
                           <td style="padding-inline-start:10px" ><span style="color:cornflowerblue">{{qty}} </span><br><br></td>
                           
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <td id="block1"><label>Price</label><br><br></td>
                        <td style="padding-inline-start:10px" ><span style="color:cornflowerblue"> {{price}}</span><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <td id="block1"><label>Total Bill</label><br><br></td>
                        <td style="padding-inline-start:10px" ><span style="color:cornflowerblue">{{tot}}</span><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Discount Offered</label><br><br></td>
                          <td style="padding-inline-start:10px" ><span style="color:cornflowerblue">{{discount}}</span><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                          <td id="block1"><label>Final Amount</label><br><br></td>
                          <td style="padding-inline-start:10px" ><span style="color:cornflowerblue">{{famt}}</span><br><br></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      
                  </tbody>
              </table><br>
            </div>
            <div style="padding-left:260px">
              <span style="color:green ;font-size:20px">{{result}}</span>
               </div>
                    
         
