<!DOCTYPE html>
<html>

	<body style ="background-color: #f4f4f4;height: auto;">
	 <header>
		 <div class="container">
			 <div id="branding">
			 <h1> <span class="highlight">Sales Monitoring System</span></h1>
			 </div>
			 <nav>
				 <ul>
					 
                                         <li class="current"><a href="http://localhost:4200/customer">PRODUCT LIST</a></li>
                                         
										 <li><a href="">LOGOUT</a></li>
				 </ul>
			 </nav>
		 </div>
	 </header><br>
            <h4 style="padding-left: 600px">LIST OF ITEMS</h4>
                    <mat-card >
    <div class="example-container mat-elevation-z8" >
        <mat-table #Table [dataSource]="MyDataSource" style="padding-left: 210px;">
            <!-- For ID -->
            <ng-container matColumnDef="Product Id">
                <mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px; color:black"> Product ID </mat-header-cell>
                <mat-cell *matCellDef="let get"> {{get.Product_Id}} </mat-cell>
            </ng-container>

            <!-- For User ID -->
            <ng-container matColumnDef="Product Name">
                <mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px; color:black"> Product Name </mat-header-cell>
                <mat-cell *matCellDef="let get"> {{get.Product_Name}} </mat-cell>
            </ng-container>

            <!-- For Title -->
            <ng-container matColumnDef="Price">
                <mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px; color:black"> Price </mat-header-cell>
                <mat-cell *matCellDef="let get"> {{get.Price}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</mat-card>           
            <div class="container" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold;">
                <div style = "padding-left: 350px;">
               
                <table border="0" cellspacing="4" cellpadding="1"  >
                    <thead>
                        <tr>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      
                        <tr>
                    <td id="block1"><label>Enter Product Id</label><br><br></td>
                    <td style="padding-left:50px;padding-top:27px;"><input type="text"  placeholder="Enter Product Id"  name="qty" #qty  /><br>
                        <span style="color: darkred;padding-left: 1px; " >{{show}}</span><br><br></td>
                        </tr>
                        <tr>
                            <td id="block1"><label>Enter Quantity</label><br><br></td>
                            <td style="padding-left:50px" ><input type="text"  placeholder="Enter Quantity"  name="quant" #quant (blur)="Calculate(quant.value)"/><br><br></td>
                                </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                                <tr>
                                    <td  style="padding-left: 40px;" ><input   type="submit" value="MAKE PAYMENT"  (click)="check(qty.value)" (mouseleave)="reset1()" style=" width:120%; height:45px; font-weight:bold "/></td>
                                      <td style="padding-left: 50px;"><input  type="submit" value="RESET"  (click)="reset(qty,quant)" style=" width:80%; height:45px; font-weight:bold; "/></td>
                                
                                </tr>
                </tbody>
                </table>
                </div>
                
               